{% if is_read_only %}
    {% import 'keg-elements/forms/horizontal-static.html' as horizontal %}
{% else %}
    {% import 'keg-elements/forms/horizontal.html' as horizontal %}
{% endif %}

{% set base_template = config.get('BASE_TEMPLATE') or config.get('KEG_BASE_TEMPLATE') %}
{% if base_template %}
    {% extends base_template %}
{% endif %}

{% block keg_scripts %}
{{ super() }}
{% if config.get('KEG_USE_ENHANCED_SELECTS', True) %}
    {% include 'keg-elements/forms/enhanced-select-scripts.html' %}
{% endif %}
{{ horizontal.custom_js() }}
{% endblock %}

{% block keg_styles %}
{{ super() }}
{% if config.get('KEG_USE_ENHANCED_SELECTS', True) %}
    {% include 'keg-elements/forms/enhanced-select-styles.html' %}
{% endif %}
{{ horizontal.custom_css() }}
{% endblock %}

{% block page_content %}
    {% block page_content_title %}
        {% if title %}
        <h1>{{ title }}</h1>
        {% endif %}
    {% endblock %}
    {% block form %}{% endblock %}
{% endblock %}